afg==0.2
aniso8601==1.2.0
asn1crypto==0.24.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
configparser==3.7.1
cryptography==2.1.4
enum34==1.1.6
Flask==0.12.1
Flask-Ask==0.9.8
fysom==2.1.5
idna==2.8
ipaddress==1.0.22
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
pycparser==2.19
pyOpenSSL==17.0.0
python-dateutil==2.7.5
PyYAML==5.1
requests==2.21.0
six==1.11.0
urllib3==1.24.1
Werkzeug==0.14.1
wrapt==1.11.1
